Dify DSL File/Anime Librarian.yml
app:
  description: 'A workflow for the project: https://github.com/laipz8200/anime-librarian


    A command-line tool that uses AI to rename and organize video files.'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Anime Librarian
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.30@1f5ecdef108418a467e54da2dcf5de2cf22b47632abc8633194ac9fb96317ede
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 3a28243c-32af-4ad2-9219-a1c5f6c4679c
    name: TMDB_API_TOKEN
    selector:
    - env
    - TMDB_API_TOKEN
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 17474207593550-source-1747420923459-target
      selected: false
      source: '17474207593550'
      sourceHandle: source
      target: '1747420923459'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: template-transform
      id: 1747417424520-source-1747421288829-target
      selected: false
      source: '1747417424520'
      sourceHandle: source
      target: '1747421288829'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: llm
      id: 1747421288829-source-17474207593550-target
      selected: false
      source: '1747421288829'
      sourceHandle: source
      target: '17474207593550'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: iteration
      id: 1747415683590-source-1747417424520-target
      selected: false
      source: '1747415683590'
      sourceHandle: source
      target: '1747417424520'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: http-request
        targetType: code
      id: 1747677772635-source-1747677918638-target
      selected: false
      source: '1747677772635'
      sourceHandle: source
      target: '1747677918638'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: code
        targetType: if-else
      id: 1747677918638-source-1747678146445-target
      selected: false
      source: '1747677918638'
      sourceHandle: source
      target: '1747678146445'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: if-else
        targetType: template-transform
      id: 1747678146445-true-1747678171263-target
      selected: false
      source: '1747678146445'
      sourceHandle: 'true'
      target: '1747678171263'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: llm
        targetType: http-request
      id: 1747678507236-source-1747678347028-target
      selected: false
      source: '1747678507236'
      sourceHandle: source
      target: '1747678347028'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: if-else
        targetType: template-transform
      id: 1747678146445-false-1747678651619-target
      selected: false
      source: '1747678146445'
      sourceHandle: 'false'
      target: '1747678651619'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: template-transform
        targetType: llm
      id: 1747678651619-source-1747678507236-target
      selected: false
      source: '1747678651619'
      sourceHandle: source
      target: '1747678507236'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: http-request
        targetType: code
      id: 1747678347028-source-1747678859297-target
      selected: false
      source: '1747678347028'
      sourceHandle: source
      target: '1747678859297'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: code
        targetType: template-transform
      id: 1747678859297-source-1747678994707-target
      selected: false
      source: '1747678859297'
      sourceHandle: source
      target: '1747678994707'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: template-transform
        targetType: llm
      id: 1747678994707-source-1747679092910-target
      selected: false
      source: '1747678994707'
      sourceHandle: source
      target: '1747679092910'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: llm
        targetType: template-transform
      id: 1747679092910-source-1747679233230-target
      selected: false
      source: '1747679092910'
      sourceHandle: source
      target: '1747679233230'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1747678171263-source-1747679327091-target
      selected: false
      source: '1747678171263'
      sourceHandle: source
      target: '1747679327091'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: template-transform
        targetType: variable-aggregator
      id: 1747679233230-source-1747679327091-target
      selected: false
      source: '1747679233230'
      sourceHandle: source
      target: '1747679327091'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: iteration-start
        targetType: llm
      id: 1747417424520start-source-1747679778024-target
      selected: false
      source: 1747417424520start
      sourceHandle: source
      target: '1747679778024'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        sourceType: llm
        targetType: http-request
      id: 1747679778024-source-1747677772635-target
      selected: false
      source: '1747679778024'
      sourceHandle: source
      target: '1747677772635'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1746645878419-source-1747762835507-target
      selected: false
      source: '1746645878419'
      sourceHandle: source
      target: '1747762835507'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1747762835507-true-1747415683590-target
      selected: false
      source: '1747762835507'
      sourceHandle: 'true'
      target: '1747415683590'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1747762835507-false-17477628577180-target
      selected: false
      source: '1747762835507'
      sourceHandle: 'false'
      target: '17477628577180'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 17477628577180-source-17477628577181-target
      selected: false
      source: '17477628577180'
      sourceHandle: source
      target: '17477628577181'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types: []
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: files
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: files
        - label: directories
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: directories
      height: 116
      id: '1746645878419'
      position:
        x: 30
        y: 176.5
      positionAbsolute:
        x: 30
        y: 176.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Identify the names of the series we want to query from the input file.
        model:
          completion_params: {}
          mode: chat
          name: gpt-4.1-2025-04-14
          provider: langgenius/openai/openai
        prompt_template:
        - id: 356f09f5-70a1-4f97-a634-14da7e45370e
          role: system
          text: Identify how many TV series are contained in the given files, and
            list the name of each series.
        - id: c788344e-5195-4a73-8822-475c160e4995
          role: user
          text: '{{#1746645878419.files#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              series:
                items:
                  type: string
                type: array
            required:
            - series
            type: object
        structured_output_enabled: true
        title: parse series
        type: llm
        variables: []
        vision:
          enabled: false
      height: 134
      id: '1747415683590'
      position:
        x: 531.2135849892466
        y: 176.5
      positionAbsolute:
        x: 531.2135849892466
        y: 176.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: remove-abnormal-output
        height: 698
        is_parallel: true
        iterator_selector:
        - '1747415683590'
        - structured_output
        - series
        output_selector:
        - '1747679327091'
        - output
        output_type: array[string]
        parallel_nums: 5
        selected: false
        start_node_id: 1747417424520start
        title: Iteration
        type: iteration
        width: 2854
      height: 698
      id: '1747417424520'
      position:
        x: 1032.427169978493
        y: 176.5
      positionAbsolute:
        x: 1032.427169978493
        y: 176.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 2854
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1747417424520start
      parentId: '1747417424520'
      position:
        x: 60
        y: 121
      positionAbsolute:
        x: 1092.427169978493
        y: 297.5
      selectable: false
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: e5ac37a9-7035-4912-a72c-816bafcb17d3
          role: system
          text: 'Find all video and subtitle files in the first part and the matched
            directories in the second part. Then, rename the file to the format: `<matched
            directory name>/<matched directory name>.S< 2-digit season number>E< 2-digit
            episode number>.<file suffix>`.


            For the OVA files, use the special season "00".


            Notice we already know those `name -> season` matches:


            {{#1747421288829.output#}}


            You have to respect the ''season'' part, whatever its name.


            Your outputs should be JSON objects containing two keys: original_name
            and new_name. You should only output the JSON parts. Make sure to put
            the results list in the "results" field.

            '
        - id: 9f0e99aa-a883-4311-b436-dd723653d243
          role: user
          text: '## First Part


            ```

            小市民系列 第二季 - 15 [1080P][WEB-DL][AAC AVC][CHT].mp4

            Bokutachi wa Benkyou ga Dekinai [01][Ma10p_1080p][x265_flac].mkv

            Bokutachi wa Benkyou ga Dekinai [01][Ma10p_1080p][x265_flac].sc.ass

            ```


            ## Second Part


            ```

            小市民シリーズ

            ぼくたちは勉強ができない

            Other Anime

            ```'
        - id: 74518762-628e-4147-bba3-93774bec7f45
          role: assistant
          text: "{\n  \"result\": [\n    {\"original_name\": \"小市民系列 第二季 - 15 [1080P][WEB-DL][AAC\
            \ AVC][CHT].mp4\", \"new_name\": \"小市民シリーズ/小市民シリーズ.S01E15.mp4\"},\n  \
            \  {\"original_name\": \"Bokutachi wa Benkyou ga Dekinai [01][Ma10p_1080p][x265_flac].mkv\"\
            , \"new_name\": \"ぼくたちは勉強ができない/ぼくたちは勉強ができない.S01E01.mkv\"},\n    {\"original_name\"\
            : \"Bokutachi wa Benkyou ga Dekinai [01][Ma10p_1080p][x265_flac].sc.ass\"\
            , \"new_name\": \"ぼくたちは勉強ができない/ぼくたちは勉強ができない.S01E01.sc.ass\"}\n  ]\n}"
        - id: 8d9d6d58-99bd-43e1-b1cb-9b2016c5a159
          role: user
          text: '## First Part


            ```

            {{#1746645878419.files#}}

            ```


            ## Second Part


            ```

            {{#1746645878419.directories#}}

            ```'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              result:
                items:
                  additionalProperties: false
                  properties:
                    new_name:
                      type: string
                    original_name:
                      type: string
                  required:
                  - original_name
                  - new_name
                  type: object
                type: array
            required:
            - result
            type: object
        structured_output_enabled: true
        title: rename with context
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '17474207593550'
      position:
        x: 4394.247547462364
        y: 176.5
      positionAbsolute:
        x: 4394.247547462364
        y: 176.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17474207593550'
          - text
          variable: text
        selected: false
        title: End
        type: end
      height: 90
      id: '1747420923459'
      position:
        x: 4644.854339956986
        y: 176.5
      positionAbsolute:
        x: 4644.854339956986
        y: 176.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{% for match in matches %}

          {{ match }}

          {% endfor %}'
        title: combine matches
        type: template-transform
        variables:
        - value_selector:
          - '1747417424520'
          - output
          variable: matches
      height: 54
      id: '1747421288829'
      position:
        x: 4143.640754967741
        y: 176.5
      positionAbsolute:
        x: 4143.640754967741
        y: 176.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config:
            api_key: '{{#env.TMDB_API_TOKEN#}}'
            type: bearer
          type: api-key
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        method: get
        params: 'query:{{#1747679778024.structured_output.keyword#}}

          language:ja'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: query tmdb
        type: http-request
        url: https://api.themoviedb.org/3/search/tv
        variables: []
      height: 139
      id: '1747677772635'
      parentId: '1747417424520'
      position:
        x: 490.89389117462304
        y: 91.29025430034807
      positionAbsolute:
        x: 1523.3210611531163
        y: 267.79025430034807
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "\ndef main(resp_text: str) -> dict:\n    import json\n\n\n    data\
          \ = json.loads(resp_text)\n    return {\n        \"results\": [\n      \
          \      {\n                \"id\": item[\"id\"],\n                \"name\"\
          : item[\"name\"]\n            }\n            for item in data['results']\n\
          \        ],\n        \"total\": len(data['results'])\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        outputs:
          results:
            children: null
            type: array[object]
          total:
            children: null
            type: number
        selected: false
        title: parse results
        type: code
        variables:
        - value_selector:
          - '1747677772635'
          - body
          variable: resp_text
      height: 54
      id: '1747677918638'
      parentId: '1747417424520'
      position:
        x: 801.473163799768
        y: 91.6829094994199
      positionAbsolute:
        x: 1833.900333778261
        y: 268.1829094994199
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: f64c32e5-3aa2-49d8-9cd7-16cd97dae29f
            value: '1'
            varType: number
            variable_selector:
            - '1747677918638'
            - total
          id: 'true'
          logical_operator: and
        desc: If there is only one result, it indicates that season will only be 1.
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        selected: false
        title: if only 1
        type: if-else
      height: 170
      id: '1747678146445'
      parentId: '1747417424520'
      position:
        x: 802.8266230430964
        y: 240.2720699289739
      positionAbsolute:
        x: 1835.2537930215894
        y: 416.7720699289739
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        selected: false
        template: '{{ name }} -> season 1'
        title: season is 1
        type: template-transform
        variables:
        - value_selector:
          - '1747417424520'
          - item
          variable: name
      height: 54
      id: '1747678171263'
      parentId: '1747417424520'
      position:
        x: 2138.6821989756345
        y: 157.4756357508702
      positionAbsolute:
        x: 3171.1093689541276
        y: 333.9756357508702
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.TMDB_API_TOKEN#}}'
            type: bearer
          type: api-key
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        method: get
        params: language:ja
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: query series detail
        type: http-request
        url: https://api.themoviedb.org/3/tv/{{#1747678507236.structured_output.result_id#}}
        variables: []
      height: 158
      id: '1747678347028'
      parentId: '1747417424520'
      position:
        x: 1479.288663062904
        y: 384.220869479612
      positionAbsolute:
        x: 2511.715833041397
        y: 560.720869479612
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 6990757d-8269-4337-8c40-aa60f82f2eb6
          role: system
          text: Which search result is closest to the keyword? Tell me its ID.
        - id: 14d725c9-d74d-41d2-8d26-fc532d0b509e
          role: user
          text: 'keyword: {{#1747417424520.item#}}


            results:


            {{#1747678651619.output#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              result_id:
                type: number
            required:
            - result_id
            type: object
        structured_output_enabled: true
        title: choice result id
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1747678507236'
      parentId: '1747417424520'
      position:
        x: 1150.287427087353
        y: 476.0135957310624
      positionAbsolute:
        x: 2182.714597065846
        y: 652.5135957310624
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        selected: false
        template: '{% for result in results %}

          ID: {{ result["id"] }}

          Name: {{ result["name"] }}

          {% endfor %}'
        title: result to template
        type: template-transform
        variables:
        - value_selector:
          - '1747677918638'
          - results
          variable: results
      height: 54
      id: '1747678651619'
      parentId: '1747417424520'
      position:
        x: 1147.6181133189957
        y: 361.11228870313266
      positionAbsolute:
        x: 2180.045283297489
        y: 537.6122887031327
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "\ndef main(resp_text: str) -> dict:\n    import json\n\n\n    data\
          \ = json.loads(resp_text)\n    return {\n        \"result\": [\n       \
          \     {\n                \"season_number\": item[\"season_number\"],\n \
          \               \"name\": item[\"name\"]\n            }\n            for\
          \ item in data[\"seasons\"]\n        ],\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: parse seasons
        type: code
        variables:
        - value_selector:
          - '1747678347028'
          - body
          variable: resp_text
      height: 54
      id: '1747678859297'
      parentId: '1747417424520'
      position:
        x: 1795.1313537881656
        y: 309.79396222700154
      positionAbsolute:
        x: 2827.5585237666587
        y: 486.29396222700154
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        selected: false
        template: '{% for season in seasons %}

          Season Number: {{ season["season_number"] }}

          Name: {{ season["name"] }}

          {% endfor%}'
        title: season to template
        type: template-transform
        variables:
        - value_selector:
          - '1747678859297'
          - result
          variable: seasons
      height: 54
      id: '1747678994707'
      parentId: '1747417424520'
      position:
        x: 1795.168958506465
        y: 421.641596854467
      positionAbsolute:
        x: 2827.596128484958
        y: 598.141596854467
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: f4892db2-825a-4a8e-996e-a4593d6fbb25
          role: system
          text: 'Which season number best matches the keyword?


            Remember to respect the **Results**, not anything contained in the **Keyword**.'
        - id: 556f853e-e9d2-4b6c-9129-70211b7886cc
          role: user
          text: 'Keyword: {{#1747417424520.item#}}


            Results:


            {{#1747678994707.output#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              season_number:
                type: number
            required:
            - season_number
            type: object
        structured_output_enabled: true
        title: choice season number
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1747679092910'
      parentId: '1747417424520'
      position:
        x: 1799.1541267998518
        y: 523.3843586321066
      positionAbsolute:
        x: 2831.581296778345
        y: 699.8843586321066
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        selected: false
        template: '{{ name }} -> {{ season }}'
        title: season number
        type: template-transform
        variables:
        - value_selector:
          - '1747417424520'
          - item
          variable: name
        - value_selector:
          - '1747679092910'
          - structured_output
          - season_number
          variable: season
      height: 54
      id: '1747679233230'
      parentId: '1747417424520'
      position:
        x: 2137.366344450605
        y: 421.641596854467
      positionAbsolute:
        x: 3169.793514429098
        y: 598.141596854467
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        output_type: string
        selected: false
        title: result aggregator
        type: variable-aggregator
        variables:
        - - '1747678171263'
          - output
        - - '1747679233230'
          - output
      height: 137
      id: '1747679327091'
      parentId: '1747417424520'
      position:
        x: 2549.003244597978
        y: 284.77330590452505
      positionAbsolute:
        x: 3581.4304145764713
        y: 461.27330590452505
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: TMDB's handling of redundant information is poor. Here, the keyword
          to be queried is processed to remove unnecessary parts.
        isInIteration: true
        isInLoop: false
        iteration_id: '1747417424520'
        model:
          completion_params:
            frequency_penalty: 0.5
            presence_penalty: 0.5
            temperature: 0.2
            top_p: 0.75
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1c5a816d-4a86-4bdf-a794-63b066d1a10e
          role: system
          text: You are a search expert. You need to search for a TV series on TMDB.
            Knowing that TMDB will fail to find results when the keywords contain
            more than the original title, please refine the following keywords and
            output the new keywords.
        - id: ae4fd9ab-98d5-4967-a6b6-327b550d09c9
          role: user
          text: '{{#1747417424520.item#}}'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              keyword:
                type: string
            required:
            - keyword
            type: object
        structured_output_enabled: true
        title: process keyword
        type: llm
        variables: []
        vision:
          enabled: false
      height: 166
      id: '1747679778024'
      parentId: '1747417424520'
      position:
        x: 175.051200449362
        y: 90.94879955063817
      positionAbsolute:
        x: 1207.4783704278552
        y: 267.44879955063817
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: d4d866ed-0c93-4759-9e2f-c935b43677ef
            value: ''
            varType: secret
            variable_selector:
            - env
            - TMDB_API_TOKEN
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: if has tmdb token
        type: if-else
      height: 126
      id: '1747762835507'
      position:
        x: 280.6067924946233
        y: 176.5
      positionAbsolute:
        x: 280.6067924946233
        y: 176.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: If there is no TMDB API key, we will directly use the model's capabilities
          for identification.
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: e5ac37a9-7035-4912-a72c-816bafcb17d3
          role: system
          text: 'Find all video and subtitle files in the first part and the matched
            directories in the second part. Then, rename the file to the format: `<matched
            directory name>/<matched directory name>.S< 2-digit season number>E< 2-digit
            episode number>.<file suffix>`.


            For the OVA files, use the specials season "00".


            Your outputs should be JSON objects containing two keys: original_name
            and new_name. You should only output the JSON parts. Make sure to put
            the results list in the "results" field.

            '
        - id: 9f0e99aa-a883-4311-b436-dd723653d243
          role: user
          text: '## First Part


            ```

            小市民系列 第二季 - 15 [1080P][WEB-DL][AAC AVC][CHT].mp4

            Bokutachi wa Benkyou ga Dekinai [01][Ma10p_1080p][x265_flac].mkv

            Bokutachi wa Benkyou ga Dekinai [01][Ma10p_1080p][x265_flac].sc.ass

            ```


            ## Second Part


            ```

            小市民シリーズ

            ぼくたちは勉強ができない

            Other Anime

            ```'
        - id: 74518762-628e-4147-bba3-93774bec7f45
          role: assistant
          text: "{\n  \"result\": [\n    {\"original_name\": \"小市民系列 第二季 - 15 [1080P][WEB-DL][AAC\
            \ AVC][CHT].mp4\", \"new_name\": \"小市民シリーズ/小市民シリーズ.S01E15.mp4\"},\n  \
            \  {\"original_name\": \"Bokutachi wa Benkyou ga Dekinai [01][Ma10p_1080p][x265_flac].mkv\"\
            , \"new_name\": \"ぼくたちは勉強ができない/ぼくたちは勉強ができない.S01E01.mkv\"},\n    {\"original_name\"\
            : \"Bokutachi wa Benkyou ga Dekinai [01][Ma10p_1080p][x265_flac].sc.ass\"\
            , \"new_name\": \"ぼくたちは勉強ができない/ぼくたちは勉強ができない.S01E01.sc.ass\"}\n  ]\n}"
        - id: 8d9d6d58-99bd-43e1-b1cb-9b2016c5a159
          role: user
          text: '## First Part


            ```

            {{#1746645878419.files#}}

            ```


            ## Second Part


            ```

            {{#1746645878419.directories#}}

            ```'
        selected: false
        structured_output:
          schema:
            additionalProperties: false
            properties:
              result:
                items:
                  additionalProperties: false
                  properties:
                    new_name:
                      type: string
                    original_name:
                      type: string
                  required:
                  - original_name
                  - new_name
                  type: object
                type: array
            required:
            - result
            type: object
        structured_output_enabled: true
        title: rename without context
        type: llm
        variables: []
        vision:
          enabled: false
      height: 150
      id: '17477628577180'
      position:
        x: 781.8203774838698
        y: 1116.768235997596
      positionAbsolute:
        x: 781.8203774838698
        y: 1116.768235997596
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '17477628577180'
          - structured_output
          - result
          variable: text
        selected: false
        title: End
        type: end
      height: 90
      id: '17477628577181'
      position:
        x: 3893.0339624731164
        y: 1116.768235997596
      positionAbsolute:
        x: 3893.0339624731164
        y: 1116.768235997596
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -6337.962609784996
      y: -104.07154820540666
      zoom: 1.638073395719657
